/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb, 2015, 11:22:04 AM
    Author     : BC Choudhary
*/

#block{
    height: 100px;
    width: 100px;
    background-color: green;
    top: 100px;
    left: 100px;
    position: absolute;
    margin-top: 50px;
}